# Tuple

In [1]:
tuple1 = ()
print("tuple1----> ", tuple1)

tuple1---->  ()

In [2]:
my_tuple = ('a', 'b', 'c', 'd', 'e')
my_tuple

('a', 'b', 'c', 'd', 'e')

In [3]:
my_mixed_tuple = ('a', 1, 1.1, True)
my_mixed_tuple

('a', 1, 1.1, True)

In [4]:
print(type(my_tuple))
print(type(my_mixed_tuple))

<class 'tuple'>
<class 'tuple'>

In [5]:
type(my_tuple[0])

str

In [6]:
type(my_mixed_tuple[1])

int

In [7]:
print("First element ---> " , my_mixed_tuple[0], "      ", "type of element ----> ", type(my_mixed_tuple[0]))
print("Second element ---> " , my_mixed_tuple[1], "      ", "type of element ----> ", type(my_mixed_tuple[1]))
print("Third element ---> " , my_mixed_tuple[2], "      ", "type of element ----> ", type(my_mixed_tuple[2]))
print("Fourth element ---> " , my_mixed_tuple[3], "      ", "type of element ----> ", type(my_mixed_tuple[3]))

First element --->  a        type of element ---->  <class 'str'>
Second element --->  1        type of element ---->  <class 'int'>
Third element --->  1.1        type of element ---->  <class 'float'>
Fourth element --->  True        type of element ---->  <class 'bool'>

In [8]:
print("Last element ---> " , my_mixed_tuple[-1])
print("Second Last element ---> " , my_mixed_tuple[-2])
print("Third element from Last---> " , my_mixed_tuple[-3])
print("Fourth element from Last---> " , my_mixed_tuple[-4])

Last element --->  True
Second Last element --->  1.1
Third element from Last--->  1
Fourth element from Last--->  a

In [9]:
my_mixed_tuple[ 0 : 2]   # extracts first two elements of tuple

('a', 1)

In [10]:
my_tuple

('a', 'b', 'c', 'd', 'e')

In [13]:
my_tuple[0:]

('a', 'b', 'c', 'd', 'e')

In [14]:
my_tuple[:2]

('a', 'b')

In [15]:
my_tuple[1:2]

('b',)

In [17]:
my_tuple[::-1]

('e', 'd', 'c', 'b', 'a')

In [18]:
my_tuple[::-2]

('e', 'c', 'a')

In [19]:
tuple1 = ('1', '2', '3', '4')
tuple2 = ('5', '6')
new_tuple = tuple1 + tuple2  # concat two tuples using + 
new_tuple

('1', '2', '3', '4', '5', '6')

In [20]:
tuple2 = ('5', '6')

In [21]:
tuple2*2

('5', '6', '5', '6')

In [22]:
tuple2*tuple1

TypeError: can't multiply sequence by non-int of type 'tuple'

In [23]:
my_tuple = ('a', 'b', 'c', 'd', 'e')

In [24]:
my_tuple[0] = "A"

TypeError: 'tuple' object does not support item assignment

In [26]:
abc =list(my_tuple)

In [27]:
abc[0]= "A"

In [28]:
abc

['A', 'b', 'c', 'd', 'e']

In [29]:
tuple(abc )

('A', 'b', 'c', 'd', 'e')

In [39]:
var = tuple("A")

In [36]:
my_tuple

('a', 'b', 'c', 'd', 'e')

In [41]:
var + my_tuple

('A', 'a', 'b', 'c', 'd', 'e')

In [40]:
type(var )

tuple

In [42]:
var + my_tuple[1:]

('A', 'b', 'c', 'd', 'e')

In [43]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [45]:
my_tuple.count("a")

1

In [46]:
my_tuple.index("a")

0

In [47]:
my_tuple.index("c")

2

In [48]:
Scores = (10, 8 , 3, 2 , 4, 0 , 0, 3)
Scores

(10, 8, 3, 2, 4, 0, 0, 3)

In [49]:
sorted(Scores)

[0, 0, 2, 3, 3, 4, 8, 10]

In [50]:
grades = ('a', 'j', 'z', 'e', 'b')
grades

('a', 'j', 'z', 'e', 'b')

In [52]:
sorted(grades, reverse= True)

['z', 'j', 'e', 'b', 'a']

In [53]:
del(my_tuple)  # remove the tuple