# Data Typecasting

In [1]:
int(1.5) #covert float to integer, loss of info

1

In [2]:
type(int(1.5))

int

In [3]:
int('1') #convert string to integer

1

In [4]:
type(int('1'))

int

In [5]:
type(2)

int

In [6]:
type(float(2))

float

In [1]:
float(2)

2.0

In [4]:
int(float(2.9))

2

In [5]:
type(5 + 4.5 - 3)

float

In [8]:
print(type('one'))
print(type(1 or 2))
print(type(1.4))
print(type(1/2))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>

In [12]:
a = input('What is your name?--')

What is your name?--rahul

In [13]:
num1 = int(input("Enter 1st num"))
num2 = int(input("Enter 2nd num"))

print(num1+num2)

Enter 1st num20
Enter 2nd num300
320

In [14]:
type(a)

str

In [17]:
b = input()

4587

In [18]:
type(b)

str

In [21]:
type(input())

34

str

In [24]:
num3 = int(input("Enter 1st num"))
num4 = float(input("Enter 2nd num"))

print(num3+num4)

Enter 1st num10
Enter 2nd numamit

ValueError: could not convert string to float: 'amit'

In [26]:
name = input('What is your name?\n')
print(name)

What is your name?
rahul
rahul

In [27]:
age = input('What is your age?')
print("You have entered age as ", age)
print("Type : " , type(age))

What is your age?30
You have entered age as  30
Type :  <class 'str'>

In [28]:
age = input('What is your age?\n')
modified_age = int(age)
print("You have entered age as ", modified_age)
print("Type : " , type(modified_age))

What is your age?
30
You have entered age as  30
Type :  <class 'int'>

In [29]:
age = input('What is your age?\n')
modified_age = float(age)
print("You have entered age as ", modified_age)
print("Type : " , type(modified_age))

What is your age?
30
You have entered age as  30.0
Type :  <class 'float'>

In [35]:
my_age = eval(input('What is your age?\n'))
print("You have entered age as ", my_age)
print("Type : " , type(my_age))

What is your age?
22.8
You have entered age as  22.8
Type :  <class 'float'>

In [33]:
my_age = eval(input('What is your age?\n'))
print("You have entered age as ", my_age)
print("Type : " , type(my_age))

What is your age?
30
You have entered age as  30
Type :  <class 'int'>

In [39]:
my_total_marks = eval(input('Enter your marks\n'))
#Enter an expression like 23 + 34 + 45 
print("You have entered age as ", my_total_marks)

Enter your marks
10- 20 * 40 /55
You have entered age as  -4.545454545454545

In [38]:
age = input('What is your age?\n')
modified_age = int(age)
print("You have entered age as ", modified_age)
print("Type : " , type(modified_age))

What is your age?
30 + 10 + 5

ValueError: invalid literal for int() with base 10: '30 + 10 + 5'

In [41]:
ask_num = eval(input('Enter the number : '))
sq_num = ask_num ** 2
cub_num = ask_num**3
#sq_num = ask_num * ask_num
#cub_num = pow(ask_num,3)

print('Square of ' + str(ask_num) + ' is : ' , str(sq_num))
print('Cube of ' + str(ask_num) + ' is : ' , str(cub_num))

Enter the number : 50
Square of 50 is :  2500
Cube of 50 is :  125000

In [42]:
num1 = eval(input('Enter 1st Number : '))
num2 = eval(input('Enter 2nd Number : '))
num3 = eval(input('Enter 3rd Number : '))

count(num1)
total = num1 + num2 + num3

avg = total/

print("Numbers entered are : " + str(num1) + " " +str(num2) + " " + str(num3) + 
      " and their totals are : " + str(total) + " and avg is : " + str(avg))

Enter 1st Number : 20
Enter 2nd Number : 40
Enter 3rd Number : 60
Numbers entered are : 20 40 60 and their totals are : 120 and avg is : 40.0

In [48]:
basic_sal = eval(input('Enter basic salary: '))

hra = 0.1 * basic_sal

conv_allw = 0.90 * hra

da_allw = 0.4*basic_sal

total_sal = basic_sal + hra + conv_allw + da_allw

print("Basic Salary : " , str(basic_sal))
print("HRA Components : ", str(hra))
print("Conveyance  Allowance : " , str(conv_allw))
print("DA allowance: ", str(da_allw))
print("Total Salary : " ,str(total_sal))

Enter basic salary: 25000
Basic Salary :  25000
HRA Components :  2500.0
Conveyance  Allowance :  2250.0
DA allowance:  10000.0
Total Salary :  39750.0