In [4]:
n = 5


for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
     
for i in range(n):    
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [31]:
for i in range(n-1):             #(0,1,2,3)      
    for j in range(i,n):         #(0,1,2,3,4), (1,2,3,4), (2,3,4), (3,4)
        print(" ",end=" ")       
    for j in range(i):           #(0), (1), (2), (3)
        print("*",end=" ")
    for j in range(i+1):         #(1), (2), (3), (4)
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *

In [27]:
 for i in range(n):           #(0,1,2,3,4),  
    for j in range(i+1):      #(1), (2),  (3), (4), (5)
        print(" ",end=" ")    
    for j in range(i,n-1):    #(0,1,2,3), (1,2,3), (2,3), (3), ()
        print("*",end=" ")
    for j in range(i,n):      #(0,1,2,3,4), (1,2,3,4), (2,3,4), (3,4), (4)
        print("*",end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [21]:
 range(4)

range(0, 4)

In [22]:
list( range(4))

[0, 1, 2, 3]

In [33]:
l= [(3,4,5,6) , [2,4,5,5,6] , {'k1' : 'v1' , 'k2' :'v2'}]
l1 = []

In [34]:
for i in l :                                        #[(3,4,5,6) , [2,4,5,5,6] , {'k1' : 'v1' , 'k2' :'v2'}]
    if type(i) == list or type( i )== tuple :       #tuple 
        for j in i :                                #                                
            l1.append(j)
    if type(i) == dict :                           
        for k in i.items():
            for m in k :
                l1.append(m)

In [35]:
l1

[3, 4, 5, 6, 2, 4, 5, 5, 6, 'k1', 'v1', 'k2', 'v2']

In [ ]:
for i in l :                                        #[(3,4,5,6) , [2,4,5,5,6] , {'k1' : 'v1' , 'k2' :'v2'}]
    if type(i) == list or type( i )== tuple :       #tuple 
        for j in i :                                #                                
            l1.append(j)
    if type(i) == dict :                           
        for k in i.items():
            for m in k :
                l1.append(m)

In [36]:
l2=[]
for i  in l:
    if type(i)==list or type(i)==tuple:
        for j in i:
            l2.append(j)
    if type(i)==dict:
        for v in i.values():
            l2.append(v)
            
            
print(l2)

[3, 4, 5, 6, 2, 4, 5, 5, 6, 'v1', 'v2']

In [40]:
l
l3=[]
for i  in l:
    if type(i)==list or type(i)==tuple:
        for j in i:
            l3.append(j)
    if type(i)==dict:
        for v in i.keys():
            l3.append(v)
            
            
print(l3)

[3, 4, 5, 6, 2, 4, 5, 5, 6, 'k1', 'k2']

In [42]:
ll = [(1,3,4,2), [1,4,3,5,3], { 'k1' : 'v1', 'k2' : "v2"}]

l2 = []

for i in ll: 
    if type(i) ==list or type(i) == tuple :
        for j in i :
            l2.append(j)
    if type(i) == dict :
        n = int(input("enter a number : enter 1 for values and 2 for dictionary "))
        if n==1:
            for v in i.values():
                l2.append(v)
        elif n==2 :
            for k in i.keys():
                l2.append(k)
print(l2)

enter a number : enter 1 for values and 2 for dictionary 1
[1, 3, 4, 2, 1, 4, 3, 5, 3, 'v1', 'v2']