# Function

In [1]:
def test(a , b) :
    return a+b

In [3]:
test(5, 9)

14

In [4]:
test("sudh" , "kumar")

'sudhkumar'

In [5]:
def test1(*a):
    return a

In [7]:
test1(3,5,6,7)

(3, 5, 6, 7)

In [9]:
 test1(4,5,6,6,6,[3,4,5,5,5,6])

(4, 5, 6, 6, 6, [3, 4, 5, 5, 5, 6])

In [10]:
def test5(*a) :
    l = []
    for i in a :
        l.append(i)
    return l

In [14]:
test5(3,5,5,7,9)

[3, 5, 5, 7, 9]

In [15]:
def test6(a,b,c,d , *m):
    return a , b, c,d, m

In [16]:
test6(2,5,6,3)

(2, 5, 6, 3, ())

In [25]:
def test7(*m,a,b):
    return m , a,b

In [26]:
test7(4,8, 7,9)

TypeError: test7() missing 2 required keyword-only arguments: 'a' and 'b'

In [28]:
test7(4,5, a = 67,b =50)

((4, 5), 67, 50)

In [29]:
test7(a = 67, b =50)

((), 67, 50)

In [30]:
def test8(**sudh):
    return sudh

In [32]:
test8(a=3,b=78,f=9)

{'a': 3, 'b': 78, 'f': 9}

In [33]:
test8(b = 4,c = 5,d =  6,e = 6 , n = [3,4,45,5,6,6,6])

{'b': 4, 'c': 5, 'd': 6, 'e': 6, 'n': [3, 4, 45, 5, 6, 6, 6]}

In [34]:
def test11(*m):
    n=1
    for i in m:
        if type(i)==int:
            n=n*i
        return n

In [41]:
test11([2,5])

1

In [42]:
d = {'b': 4, 'c': 5, 'd': 6, 'e': 6}

In [46]:
test8(b= 4, c= 5)

{'b': 4, 'c': 5}

In [47]:
def test9(*m , **s) :
    return m , s

In [51]:
test9(2,4, "B", b="a")

((2, 4, 'B'), {'b': 'a'})

In [52]:
def test10(*m):
    n = 0
    for i in m :
        if type(i) == int :
            n = n+i
    return n

In [54]:
test10(6, 7)

13

In [55]:
test11(4,7)

4

In [59]:
def test_11(*m):
    n=1
    for i in m:
        if type(i)==int:
            n=n*i
    return n

In [60]:
test_11(3,7,9)

189

In [61]:
n = lambda a , b : a + b

In [62]:
n(1,6)

7

In [63]:
t = (3,4,4,5,5,6,67,7,7)

l = []
for i in t :
    l.append(i)

In [64]:
l

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [65]:
[i for i in t]

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [66]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [67]:
l = lambda *x : [i**2 for i in x ]

In [68]:
l(3,5)

[9, 25]

In [69]:
def test14(**kwargs):
    count = 0
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values():
        if type(v) == str:
            count += 1
        if type(v) == list :
            for i in v :
                if type(i) == str :
                    count+= 1
    return count

In [70]:
test14(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45 , "sudh"])

{'a': 7, 'b': 'sudh', 'c': 345, 'd': 'sudh', 'l': [2, 3, 4, 45, 'sudh']}
dict_values([7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']])

3

In [71]:
def test15(**kwargs) :
    return list(kwargs.values())

In [72]:
test15(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45 , "sudh"])

[7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']]

In [ ]:
 q1 : Try to print a prime number in between 1 to 1000

In [ ]:
num%2 = 0
num%3 = 0

In [78]:
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

In [79]:
is_prime(11)

True

In [87]:
is_prime(59)

True

In [93]:
is_prime(50)

False

In [97]:
int(50**0.5)

7

In [98]:
7+1

8

In [99]:
list(range(3,8,2))

[3, 5, 7]

In [100]:
50%2

0

In [76]:
def print_prime_numbers(limit):
    for num in range(1, limit + 1):
        if is_prime(num):
            print(num)

In [101]:
print_prime_numbers(50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [102]:
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

def print_prime_numbers(limit):
    for num in range(1, limit + 1):
        if is_prime(num):
            print(num)

In [105]:
def aad(a,b):
    '''this is my function'''
    z = a+b
    h = a*b
    return z, h
    h = a*b
    return h

In [106]:
aad(2,4)

(6, 8)

In [109]:
s="amezon"
a=0 
v='aeiou'

while a < len(s):
    if s[a] in v :
        print(s.replace(s[a] ,"*"))
    a = a + 1

*mezon
am*zon
amez*n

In [126]:
find_status = lambda a: 'low' if (a<5000) else "high"

In [122]:
find_status(7000)

'high'